@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

    <h4 class="mt-4">
        Reset password confirmation</h4>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
