@page
@model ayush.Pages.Admin.add_schoolModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Register School</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label>School Name</label>
                                <input asp-for="asi.SchoolName" class="form-control" placeholder="School Name" />

                                <span asp-validation-for="asi.SchoolName" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.Address"></label>
                                <input asp-for="asi.Address" class="form-control" placeholder="address" />

                                <span asp-validation-for="asi.Address" class="text-danger"></span>

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.PhoneNumber"></label>
                                <input asp-for="asi.PhoneNumber" class="form-control" placeholder="phnoenumber" />

                                <span asp-validation-for="asi.PhoneNumber" class="text-danger"></span>

                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.Email"></label>
                                <input asp-for="asi.Email" class="form-control" placeholder="email" />

                                <span asp-validation-for="asi.Email" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.Name_POC"></label>
                                <input asp-for="asi.Name_POC" class="form-control" placeholder="name(poc)" />

                                <span asp-validation-for="asi.Name_POC" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.PhoneNumber_POC"></label>
                                <input asp-for="asi.PhoneNumber_POC" class="form-control" placeholder="phonen(poc)" />

                                <span asp-validation-for="asi.PhoneNumber_POC" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.Email_POC"></label>
                                <input asp-for="asi.Email_POC" class="form-control" placeholder="Email" />

                                <span asp-validation-for="asi.Email_POC" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.Address_POC"></label>
                                <input asp-for="asi.Address_POC" class="form-control" placeholder="address(poc)" />

                                <span asp-validation-for="asi.Address_POC" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.HighQualification_POC"></label>
                                <input asp-for="asi.HighQualification_POC" class="form-control" placeholder="HQ" />

                                <span asp-validation-for="asi.HighQualification_POC" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.Designation_POC"></label>
                                <input asp-for="asi.Designation_POC" class="form-control" placeholder="DE" />

                                <span asp-validation-for="asi.Designation_POC" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-light" asp-for="UploadCenrtificate_poc" for="exampleInputFile">Upload Certificate(POC)</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" asp-for="UploadCenrtificate_poc" class="custom-file-input" id="exampleInputFile" multiple>
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    @*<div class="input-group-append">
                                        <span class="input-group-text" id="">Upload</span>
                                    </div>*@
                                </div>
                            </div>
                        </div>



                        @*<input type="file" id="file1"
                            name="file1"
                            multiple="multiple" />*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-light" asp-for="Upload_CV_poc_files" for="exampleInputFile">Upload CV(POC)</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" asp-for="Upload_CV_poc_files" class="custom-file-input" id="CVupload" multiple="multiple">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="">Upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.Password"></label>
                                <input asp-for="asi.Password" class="form-control" placeholder="Email" />

                                <span asp-validation-for="asi.Password" class="text-danger"></span>

                            </div>

                            <!-- /.close here -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="asi.ConfirmPassword"></label>
                                <input asp-for="asi.ConfirmPassword" class="form-control" placeholder="Email" />

                                <span asp-validation-for="asi.ConfirmPassword" class="text-danger"></span>

                            </div>
                        </div>
                        <!-- /.row -->
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>


                </div>
            </div>
            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on('change', function () {
                            //var filelabel = $(this).next('.custom-file-label');
                            //var files = $(this)[0].files;
                            //if (files.length > 1) {
                            //    filelabel = html(files.length + ' files selected');
                            //}
                            //else if (files.length == 1) {
                            //    filelabel = html(files[0].name);
                            //}
                            var filename = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(filename);
                        })
                    })
                </script>
            }
        </form>
    </div>
</section>