@page
@model ayush.Pages.Admin.admin_logsModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}
<br />

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Admin Logs</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Student Name</th>
                                    <th>Amount</th>
                                    <th>Mode</th>
                                    <th>Submit Date</th>
                                    <th>Submit By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                                <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr> <tr>
                                    <td>1213</td>
                                    <td>Harpreet Singh </td>
                                    <td>1800</td>
                                    <td> Cash</td>
                                    <td>05-March-2020</td>
                                    <td>Gorav Verma</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section JavaScript
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>

    <script src="~/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
