@page
@model ayush.Pages.Admin.AvailabilityModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/responsive.bootstrap4.min.css">
}
<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">



                <div class="card">
                    <div class="card-header p-2">

                        <h3 class="card-title">Availability of Counsellor</h3>

                    </div>
                    <div class="card-body">




                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Counsellor ID</th>
                                    <th>Counsellor Name </th>
                                    <th>Phone Number </th>
                                    <th>Date</th>
                                    <th>Time Slot</th>
                                    <th>Delete</th>
                                   

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>123455</td>
                                    <td>
                                        Harpreet Singh
                                    </td>
                                    <td>
                                        8803631033
                                    </td>
                                    <td>16-09-2020</td>
                                    <td> 10:00 - 11:00 AM</td>

                                    <td><a href="#" class="btn btn-info">Delete</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>123455</td>
                                    <td>
                                        Harpreet Singh
                                    </td>
                                    <td>
                                        8803631033
                                    </td>
                                    <td>16-09-2020</td>
                                    <td> 10:00 - 11:00 AM</td>

                                    <td><a href="#" class="btn btn-info">Delete</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>123455</td>
                                    <td>
                                        Harpreet Singh
                                    </td>
                                    <td>
                                        8803631033
                                    </td>
                                    <td>16-09-2020</td>
                                    <td> 10:00 - 11:00 AM</td>

                                    <td><a href="#" class="btn btn-info">Delete</a></td>
                                </tr>
                            </tbody>

                        </table>







                    </div>
                </div>


            </div>

        </div>

    </div>

</section>

@section JavaScript
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>

    <script src="~/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}