@page
@model ayush.Pages.Admin.CareerBookModel
@{
    ViewData["Title"] = "Career Book";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<form method="post" action="" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" asp-for="Upload">
                            <label class="custom-file-label" for="exampleInputFile">Upload New File</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="input-group-text" value="Upload" id="btnUpload" />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <object data="~/uploads/CareersBook.pdf?c=@System.Guid.NewGuid().ToString()" type="application/pdf" width="100%" height="500px">
                        <a href="myfile.pdf">Download PDF</a>
                    </object>
                </div>
            </div>
        </div>
    </div>
</form>

