@page
@model ayush.Pages.Admin.CaseStudiesModel
@{
    ViewData["Title"] = "Case Studies";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/responsive.bootstrap4.min.css">
}
<br />

<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">

            <li class="nav-item"><a class="nav-link active" href="#view" data-toggle="tab">Case Studies</a></li>
            <li class="nav-item"><a class="nav-link" href="#add" data-toggle="tab">Add New</a></li>
        </ul>
    </div>
    @Html.HiddenFor(x => x.isSuccessful)
    <div class="card-body">
        <div class="tab-content">
            <div class="active tab-pane" id="view">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="input-group">
                                    <h3>Case Studies</h3>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="dtCaseStudy" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <td style="width:10%;text-align:left">S.No.</td>
                                            <td style="width:45%;text-align:left">Title</td>
                                            <td style="width:15%">Uploaded On</td>
                                            <td style="width:15%">Download</td>
                                            <td style="width:15%">Delete</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="add">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Case Study</h3>
                        </div>

                        <form role="form" method="post" action="" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Title</label>
                                    <input type="text" class="form-control" asp-for="@Model.CaseStudy.CaseTitle" placeholder="Enter Title">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Description</label>
                                    <textarea type="text" class="form-control" asp-for="@Model.CaseStudy.CaseDescription" placeholder="Description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Upload Pdf</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" asp-for="Upload">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="">Upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@*lower*@



@section JavaScript
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $("#btnSubmit").click(function () {
            let formErrors = [];
            if (!$('#CaseStudy_CaseTitle').val()) { formErrors.push('Case Title is required'); }
            if (!$('#CaseStudy_CaseDescription').val()) { formErrors.push('Case Description is required'); }
            if (!$('#Upload').val()) { formErrors.push('Select a file to upload'); }
            if ($('#Upload').val() && $('#Upload').val().substring($('#Upload').val().length - 4) != ".pdf") { formErrors.push('You must select a PDF file!'); }
            if (formErrors.length > 0) {
                formErrors.forEach(function (item, index) {
                    notifyError(item);
                });
                return false;
            }
        });
    </script>

    <script>
        let table = {};
        $(document).ready(function () {
            bindCaseStudies();
            if ($("#isSuccessful").val() == "True") {
                notifySucess("Case Study has been added successfully!");
            }
        });

        function bindCaseStudies() {
            table = $('#dtCaseStudy').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                ajax: {
                    "url": "/api/Student/CaseStudies",
                    "type": "POST",
                    "datatype": "json"
                },
                columns: [
                    { "data": "srNo", "name": "Sr. No.", "autoWidth": true },
                    { "data": "caseTitle", "name": "Title", "autoWidth": true },
                    {
                        "data": "uploadedOn", "name": "Uploaded On", "autoWidth": true, "render": function (value) {
                            if (value === null) return "";
                            return moment(value).format('DD/MM/YYYY');
                        } },
                    {
                        "data": "fileName",
                        "searchable": false,
                        "sortable": false,
                        "render": function (data, type, full, meta) {
                            var returnVal = '<a target="_blank" href="' + full.fileName + '"><span class="badge bg- primary">Download</span></a>';
                            return returnVal;
                        }
                    },
                    {
                        "data": "Id",
                        "searchable": false,
                        "sortable": false,
                        "render": function (data, type, full, meta) {
                            var returnVal = '<a href="#" onclick="removeCaseStudy(' + full.id + ');"><i class="fa fa-trash text-danger"></i></a>';
                            return returnVal;
                        }
                    }
                ]
            });
        }

        function removeCaseStudy(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "This would remove this case study and you would not be able to recover it.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "/api/Student/removeCaseStudy?id=" + id,
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {
                            if (response == true) {
                                $('#dtCaseStudy').DataTable().ajax.reload();
                                notifySucess("Case Study has been removed successfully!")
                            } else {
                                notifyError("Unexpected error!");
                            }
                        }
                    });
                }
            });
        }
    </script>
}