@page
@model ayush.Pages.Admin.change_passwordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    <link rel="stylesheet" href="~/css/ionicons.min.css">
 <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/css/icheck-bootstrap.min.css">
}


<partial name="_StatusMessage" for="StatusMessage" />
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Change Password</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="col-md-6">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">

                <!-- /.card-header -->
                <div class="card-body">
                   


                        <p class="login-box-msg">You are only one step a way from your new password, reset your password now.</p>

                        <form id="change-password-form" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.OldPassword"></label>
                                <input asp-for="Input.OldPassword" class="form-control" placeholder="Old Password" />

                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label asp-for="Input.NewPassword"></label>
                                <input asp-for="Input.NewPassword" class="form-control" placeholder="New Password" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">

                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Update password</button>
                            </div>
                        </form>







                   

                </div>

            </div>

        </div>
    </div>


</section>



@section Javascript {
    <partial name="_ValidationScriptsPartial" />
}
