
@page
@model ayush.Pages.Admin.AdminModel
@{

    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    <link rel="stylesheet" href="~/css/OverlayScrollbars.min.css">
}


<br />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Registered this Month</span>
                        <span class="info-box-number">
                            10
                           
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-book-open"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Today Tests</span>
                        <span class="info-box-number">41,410</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-money-bill"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Today Payments</span>
                        <span class="info-box-number">60,210</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-money-check"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Payments this month</span>
                        <span class="info-box-number">2,000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

      
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
                <!-- MAP & BOX PANE -->
              
                <!-- /.card -->
                <div class="row">
                   

                   
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- TABLE: LATEST ORDERS -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Latest Payments</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Student ID</th>
                                        <th>Student Name</th>
                                        <th>Amount</th>
                                        <th>Transaction ID</th>
                                        <th>Submit Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Cancelled</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Cancelled</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Cancelled</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                        <td>Harpreet Singh</td>
                                        <td><span class="badge badge-success">500</span></td>
                                        <td>
                                            14555As4
                                        </td>
                                        <td>12-March-2020</td>
                                        <td>Paid</td>
                                    </tr>
                                   
                              



                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                  
                    @*<div class="card-footer clearfix">
                       
                        <a href="javascript:void(0)" class="btn btn-sm btn-info float-right">View All Payments</a>
                    </div>*@
                  
                </div>
             
            </div>
         

            @*<div class="col-md-4">

              
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Latest Students</h3>

                            <div class="card-tools">
                                <span class="badge badge-danger">8 New Members</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                       
                        <div class="card-body p-0">
                            <ul class="users-list clearfix">
                                <li>
                                    <img src="~/images/user1-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Alexander Pierce</a>
                                    <span class="users-list-date">Today</span>
                                </li>
                                <li>
                                    <img src="~/images/user8-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Norman</a>
                                    <span class="users-list-date">Yesterday</span>
                                </li>
                                <li>
                                    <img src="~/images/user7-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Jane</a>
                                    <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                    <img src="~/images/user6-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">John</a>
                                    <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                    <img src="~/images/user2-160x160.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Alexander</a>
                                    <span class="users-list-date">13 Jan</span>
                                </li>
                                <li>
                                    <img src="~/images/user5-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Sarah</a>
                                    <span class="users-list-date">14 Jan</span>
                                </li>
                                <li>
                                    <img src="~/images/user4-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Nora</a>
                                    <span class="users-list-date">15 Jan</span>
                                </li>
                                <li>
                                    <img src="~/images/user3-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Nadia</a>
                                    <span class="users-list-date">15 Jan</span>
                                </li>
                            </ul>
                           
                        </div>
                       
                        <div class="card-footer text-center">
                            <a href="javascript::">View All Students</a>
                        </div>
                       
                    </div>
                   
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Recent Messages</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                  
                    <div class="card-body p-0">
                        <ul class="products-list product-list-in-card pl-2 pr-2">
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/images/default-150x150.png" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Harpreet Singh
                                        
                                    </a>
                                    <span class="product-description">
                                        
                                        Message from customer. Please reply back as soon as possible.
                                    </span>
                                </div>
                            </li>
                          
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/images/default-150x150.png" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Prince Mahajan
                                       
                                    </a>
                                    <span class="product-description">
                                        Message from customer. Please reply back as soon as possible.
                                    </span>
                                </div>
                            </li>
                           
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/images/default-150x150.png" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Gorav Verma 
                                    </a>
                                    <span class="product-description">
                                        Message from customer. Please reply back as soon as possible.
                                    </span>
                                </div>
                            </li>
                          
                            <li class="item">
                                <div class="product-img">
                                    <img src="~/images/default-150x150.png" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Ayush
                                     
                                    </a>
                                    <span class="product-description">
                                        Message from customer. Please reply back as soon as possible.
                                    </span>
                                </div>
                            </li>
                           
                        </ul>
                    </div>
                    
                    <div class="card-footer text-center">
                        <a href="javascript:void(0)" class="uppercase">View All Messages</a>
                    </div>
                   
                </div>
              
            </div>*@
           
        </div>
        
    </div>
</section>

@section JavaScript
{
    <script src="~/js/jquery.overlayScrollbars.min.js"></script>


    <!-- OPTIONAL SCRIPTS -->
    <script src="~/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/js/jquery.mousewheel.js"></script>
    <script src="~/js/raphael.min.js"></script>
    <script src="~/js/jquery.mapael.min.js"></script>
    <script src="~/js/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/js/Chart.min.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="~/js/dashboard2.js"></script>
}


