@page
@model ayush.Pages.Admin.payments_by_schoolModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}
<br />

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Payment Received by Schools</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>School ID</th>
                                    <th>Name </th>
                                    <th>No. of Students</th>
                                    <th>Amount</th>
                                    <th>Payment Mode</th>
                                    <th>Transaction ID</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                                <tr>
                                    <td>123455</td>
                                    <td>
                                        Heritage Public Shool
                                    </td>
                                    <td>58</td>
                                    <td> 1500</td>
                                    <td>Online</td>
                                    <td>1678899344</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section JavaScript
{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>

    <script src="~/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}
