@page
@model ayush.Pages.Admin.RegisterConfirmationModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Register confirmation";
}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3>Account created Successfully.</h3>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
 
