@page
@model ayush.notesModel
@{
    ViewData["Title"] = "Notes / Message";
    Layout = "~/Pages/Shared/_CounsellorLayout.cshtml";
    <link rel="stylesheet" href="~/css/summernote-bs4.css">
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Notes / Message</h1>
            </div>

        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Notes for your reference</h3>
                    </div>
                    <div class="card-body p-0 m-0">

                        <textarea class="textarea" placeholder="Place some text here"
                                  style="width: 100%; height: 400px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
							Save Notes of Student for future reference</textarea>

                    </div>
                </div>
            </div>
            <div class="col-md-3">

                <div class="card card-prirary cardutline direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title">Direct Message to Student</h3>


                    </div>

                    <div class="card-body">

                        <div class="direct-chat-messages">

                            <div class="direct-chat-msg">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">Alexander Pierce</span>
                                    <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                                </div>

                                <img class="direct-chat-img" src="~/images/user1-128x128.jpg" alt="Message User Image">

                                <div class="direct-chat-text">
                                    Is this template really for free? That's unbelievable!
                                </div>

                            </div>

                            <div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">Sarah Bullock</span>
                                    <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                                </div>

                                <img class="direct-chat-img" src="~/images/user3-128x128.jpg" alt="Message User Image">

                                <div class="direct-chat-text">
                                    You better believe it!
                                </div>

                            </div>







                        </div>


                    </div>

                    <div class="card-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </span>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>

</section>






@section JavaScript {
    <script src="~/js/demo.js"></script>
    <script src="~/js/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('.textarea').summernote({
                height: 300
            });

        })
    </script>

}

