<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UPCLASS</title>
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body class="hold-transition layout-top-nav">

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Ready to discover your perfect career?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body col-md-12">
                    <div class="row">
                        <div class="col-sm-6"><img src="~/images/form-wizard-3.jpg" class="w-100" /></div>
                        <div class="col-sm-6">
                            <div class="item form-box mt-5" id="blockDiv">
                                <div class="form-display" id="emailDiv">
                                    <input class="form-control" id="signupEmail" placeholder="Enter your email" onchange="onEmailChange(event)" />
                                    <p class="text-danger text-left mb-2" id="emailHelper"></p>
                                    <button id="mylink" onclick="sendEmailOTP()" class="btn btn-block btn-primary btn-flat">Proceed</button>
                                    <a href="javascript:void(0)" onclick="continueWithPhone()">Continue with Phone</a>
                                </div>
                                <div class="form-display" id="mobileDiv" style="display: none">
                                    <input class="form-control" id="phoneNumber" placeholder="Enter your phone number" />
                                    <p class="text-danger text-left mb-2" id="errorPhone"></p>
                                    <button onclick="sendOTPPhone()" class="btn btn-block btn-primary btn-flat">Proceed</button>
                                    <a href="javascript:void(0)" onclick="continueWithEmail()">Continue with Email</a>
                                </div>
                                <div class="form-display" id="otpDiv" style="display: none">
                                    <input class="form-control" id="otp" placeholder="Enter your OTP" />
                                    <p class="text-danger text-left mb-2" id="errorMessage"></p>
                                    <a href="javascript:void(0)"  onclick="sendEmailOTP()">Resend OTP</a>
                                    <a href="javascript:void(0)"  id="validateOtp" class="btn btn-block bg-gradient-success btn-flat">Proceed</a>
                                </div>
                                <div class="form-display" id="phoneOtpDiv" style="display: none">
                                    <input class="form-control" id="phoneOtp" placeholder="Enter your OTP" />
                                    <p class="text-danger text-left mb-2" id="phoneOtpErrorMessage"></p>
                                    <a href="javascript:void(0)" onclick="sendOTPPhone()">Resend OTP</a>
                                    <a href="javascript:void(0)" id="validatePhoneOtp" class="btn btn-block bg-gradient-success btn-flat">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>




    <div class="wrapper">
        @using Microsoft.AspNetCore.Identity
        @inject UserManager<IdentityUser> UserManager
        @{
            var user = await UserManager.GetUserAsync(User);

            string homePage = "#";

            if (user != null)
            {
                var roles = await UserManager.GetRolesAsync(user);

                homePage = ayush.Helper.RoleHelper.GetHomePage(roles.FirstOrDefault());
            }
        }
        <div style="background-color: #efeeee">
            <div class="container">
                <p style="font-size:14px; padding:4px;">
                    In case of any technical issues, kindly email us at support@upclass.in
                </p>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">

            <div class="container">

                <a href="/@homePage" class="navbar-brand">
                    <img src="~/images/logo-front-end.png" alt="Logo" class="brand-image ">
                    @*<span class="brand-text font-weight-bold">UPCLASS</span>*@
                </a>













                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="btn btn-info waves-effect waves-light w-md" href="javascript:void(0)" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-lg">
                                Register for Test
                            </a>
                        </li>
                    }


                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>

        <div class="content-wrapper">


            <div class="content">
                <div class="container">
                    <div class="row">
                    </div>
                    @RenderBody()

                </div>
            </div>

        </div>

        <aside class="control-sidebar control-sidebar-dark">

            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>

        <footer class="main-footer">

            <div class="float-right d-none d-sm-inline">
                Designed By <a href="http://www.rantech.co.in">Rantech</a>.
            </div>

            <strong>Copyright &copy; 2020-2021 <a href="#">UPCLASS</a>.</strong> All rights reserved.
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery.blockUI.js"></script>
    <script>
        var code;
        let email;
        $(document).ready(function () {


            localStorage.removeItem('EmailAddress');
            localStorage.removeItem('PhoneNumber');
            localStorage.removeItem('InvitedByUserId');

            if (location.href.split("?").length > 1) {
                var userId = location.href.split("?")[1].split("=")[1];
                localStorage.setItem("InvitedByUserId", userId);
                console.log(userId);
            }
            //$('#mylink').click();

            $("#validateOtp").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/api/Home/validateemailotp?emailAddress=" + email + "&code=" + $("#otp").val() + "&referredBy=" + localStorage.getItem("InvitedByUserId"),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response["isValid"] == true) {
                            localStorage.setItem("EmailAddress", email);
                            window.location = "/dashboard";
                        }
                        else {
                            $("#errorMessage").html("Invalid code");
                        }

                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            });

            $("#validatePhoneOtp").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/api/Home/validateotp?phoneNumber=" + phone + "&code=" + $("#phoneOtp").val(),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response["isValid"] == true) {
                            localStorage.setItem("PhoneNumber", phone);
                            window.location = "/dashboard";
                        }
                        else {
                            $("#phoneOtpErrorMessage").html("Invalid code");
                        }

                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            });
        });

        function sendEmailOTP() {
            let value = $('#signupEmail')[0].value;
            email = value;
            email = value;
            if (!validateEmail(value)) {
                $("#emailHelper")[0].innerHTML = "Please enter a valid email address."
                return false;
                // cancel the event
            }
            $(".modal").block({ message: '' });

            $.ajax({
                type: "GET",
                url: "/api/Home/validate?emailAddress=" + value,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response["isExist"] == true) {
                        $("#emailHelper")[0].innerHTML = "Email already exists."
                    }
                    else {
                        code = response["code"];
                        $('#emailDiv').hide();
                        $('#otpDiv').show();
                    }
                    $(".modal").unblock({ message: '' });
                },
                failure: function (response) {
                    alert(response);
                    $(".modal").unblock({ message: '' });
                }
            });

            return false;
        }

        function onEmailChange(event) {
            if (!event.target.value || event.target.value.length === 0 || !validateEmail(event.target.value)) {
                event.preventDefault();
                $("#emailHelper")[0].innerHTML = "Please enter a valid email address."
                return;
            }

            $("#emailHelper")[0].innerHTML = "";
        }

        let phone;

        function sendOTPPhone() {
            let value = $('#phoneNumber').val();
            if (!validatePhone(value)) {
                $("#errorPhone")[0].innerHTML = "Please enter a valid Phone number."
                return false;
            }

            phone = value;
            $(".modal").block({ message: '' });

            $.ajax({
                type: "GET",
                url: "/api/Home/validatephone?phoneNumber=" + value,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response["isExist"] == true) {
                        $("#errorPhone")[0].innerHTML = "Phone already exists."
                    }
                    else {
                        code = response["code"];
                        $('#mobileDiv').hide();
                        $('#phoneOtpDiv').show();
                    }
                    $(".modal").unblock({ message: '' });
                },
                failure: function (response) {
                    alert(response);
                    $(".modal").unblock({ message: '' });
                }
            });
        }

        function validateEmail(email) {
            //const re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            const re = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            return re.test(String(email).toLowerCase());
        }

        function validatePhone(phone) {
            const re = /^[0-9]{10}$/;
            return re.test(phone);
        }

        function continueWithPhone() {
            $("#emailDiv").hide();
            $("#mobileDiv").show()
        }

        function continueWithEmail() {
            $("#mobileDiv").hide()
            $("#emailDiv").show();
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
